<div id="footer">
    <div class="container pt-5 pb-1">
        <div>
            <div class="logo">
                Logo
            </div>
            <div class="footer-content">
                <h4 class="footer-head">Headquarter</h4>
                <h6 class="addr">37-16 73rd Street, Suite 302</h6>
                <h6 class="addr">Queens, New York 11372</h6>
                <h6 class="addr">For headquarters: (718) 255-6800</h6>
                <h6 class="addr">For general inquires: (718) 874-0047</h6>
            </div>
        </div>
        <hr />
        <p class="muted credit">&copy; {{ "now" | date("Y") }} Developed By <a href="https://wintercms.com" target="_blank">OrangeBD</a>.</p>
    </div>
</div>
