<div class="container">
    <div class="row py-5">
        <h3 class="benefits-title mb-5 text-center text-white">Advantages of Home care</h3>
        <div class="col-md-3 mb-4">
            <h3 class="text-center text-white my-4">Adaptable</h3>
            <p class="text-center text-white">
                Pursuing a career in caregiving offers flexibility, with numerous part-time and full-time possibilities.
            </p>
        </div>
        <div class="col-md-3 mb-4">
            <h3 class="text-center text-white my-4">Reasonable</h3>
            <p class="text-center text-white">
                Opting for homecare services may offer a more budget-friendly alternative compared to other care options like nursing homes or assisted living facilities, enabling individuals and families to save on costs without compromising on essential care.
            </p>
        </div>
        <div class="col-md-3 mb-4">
            <h3 class="text-center text-white my-4">Customized</h3>
            <p class="text-center text-white">
                Homecare services can be customized to see the specific needs off each individual, providing a personalized and unique approach to care.
            </p>
        </div>
        <div class="col-md-3 mb-4">
            <h3 class="text-center text-white my-4">Reliable</h3>
            <p class="text-center text-white">
                It also establishes a secure setting, mitigating the risks associated with hospital-acquired infections or falls that individuals might face.
            </p>
        </div>
    </div>
</div>