<div class="container">
<div class="row">
        <h3 class="text-center my-3 text-white">Frequently Asked Questions</h3>
    <div class="col-md-8 offset-md-2">
  <div class="accordion-container">
        <div class="accordion-item">
            <button class="accordion-header">
                Does home care outshine a move to assisted living? <span class="icon">+</span>
            </button>
            <div class="accordion-content">
                <p>A significant majority, nine out of ten older adults, express a preference for maintaining independent living within their familiar home environment, rather than transitioning to a facility or assisted living community. With appropriate support levels, individuals can effectively and comfortably age in place, even when confronting progressive illnesses or medical conditions.</p>
            </div>
        </div>
        <div class="accordion-item">
            <button class="accordion-header">
                What is the compensation process for caregivers? <span class="icon">+</span>
            </button>
            <div class="accordion-content">
                <p>Medicaid facilitates the payment of caregivers' salaries and benefits through a fiscal intermediary (FI), such as Prime Homes Care. This third-party organization engages in contracts with managed care/managed long-term care plans and local departments of social services to deliver approved services in alignment with the consumer's care plan.</p>
            </div>
        </div>
        <div class="accordion-item">
            <button class="accordion-header">
                Is a home care agency superior to a private caregiver? <span class="icon">+</span>
            </button>
            <div class="accordion-content">
                <p>Opting for a home care agency ensures safety, security, and reliability. The agency manages caregiver performance, schedules, billing, and payroll, providing backup support when required. Unlike hiring privately, where responsibilities include payroll setup, tax withholding, background checks, and liability insurance, our agency offers the added benefit of caregiver selection within a secure administrative framework.</p>
            </div>
        </div>
    </div>

    </div>
</div>
</div>