[viewBag]
==
{% partial 'home/banner' %}
<div class="taken-care">
    <div class="container">
        {% partial 'home/taken-care' %}
    </div>
</div>
<div class="benefits m-5">
    <div class="benefit-section">
        {% partial 'home/benefits' %}
    </div>
</div>
<div class="starting-point m-5">
    <div class="starting-point-section">
        {% partial 'home/starting-point' %}
    </div>
</div>
<div class="consumer">
    <div class="consumer-section">
        {% partial 'home/consumer' %}
    </div>
</div>
<div class="faq">
    <div class="faq-section py-5">
        {% partial 'home/faq' %}
    </div>
</div>