<div class="container">
    <div class="row pb-5">
        <h4 class="starting-point-title mb-5 text-center">Pick where to kick off</h4>
        <div class="col-md-4 mb-4 px-md-5">
            <h5 class="text-center my-3 fw-bold starting-sub-title">Sidekick Support</h5>
            <p class="starting-paragraph">
                We address isolation, disruptions in routines, and the need for support in elderly individuals. Our dedicated caregivers enable continued cherished lifestyles at home, providing high-quality companionship and handling essential tasks—light housekeeping, grocery shopping, nutritious meal prep, and transportation for social engagements.
           </p>
                
        </div>
        <div class="col-md-4 mb-4 px-md-5">
            <h5 class="text-center my-3 fw-bold starting-sub-title">Pitch in on Home Affairs</h5>
            <p class="starting-paragraph">
                Tailored for mostly independent and healthy seniors, our care lends a helping hand at home—an effortless introduction to in-home support. From changing light bulbs to seasonal yard work, household repairs, and shopping assistance, we enable you or your loved one to maintain independence with fewer responsibilities, fostering a well-lived life in the home you love.
            </p>
            
        </div>
        <div class="col-md-4 mb-4 px-md-5">
            <h5 class="text-center my-3 fw-bold starting-sub-title">Aid for Persistent Ailments</h5>
            <p class="starting-paragraph">
                As chronic conditions evolve, home life may intensify, yet proper assistance makes it equally fulfilling. Our skilled caregivers provide support for older adults managing chronic conditions or age-related illnesses, preserving lifestyle and independence. From daily activities to personal care and social engagement, we're here for you or your loved one.
            </p>
            
        </div>
    </div>
</div>