<div class="row">
    
    <div class="col-md-6 p-md-5 order-md-2">
        <div class="right-side">
            <img src="{{'/themes/homes_care/assets/images/home/Image 2 (1).png'}}" alt="">
        </div>
    </div>
    <div class="col-md-6 p-md-5 order-md-1">
    <h2 class="taken-care-title">You're in good hands</h2>
        <div class="left-side">
            <div class="left-content">
                <p class="my-4">
                    If you're considering a role as a family caregiver, Prime Homes Care is your ideal destination. Specializing in Consumer Directed Personal Assistance (CDPAP), we empower patients to select their caregiver, enabling you to care for your loved ones in the comfort of your home rather than relying on a stranger. Our competitive hourly rates, a dedicated team coordinating with your insurance, and seamless onboarding into the healthcare industry make us your top choice. We trust that there's no one better to care for your family than you.
                </p>
                <button class="learn-more-btn">Learn more</button>
            </div>
        </div>
    </div>
</div>